html {
  /* var(--dark-background)s and Whites */
  --light-background: #f0f3df;
  --dark-background: #232320;
  --light-low-contrast-neutral: #ddded6;
  --dark-low-contrast-neutral: #30302c;
  --light-high-contrast-neutral: var(--dark-background);
  --dark-high-contrast-neutral: var(--light-background);
  --light-high-contrast-muted: var(--dark-low-contrast-neutral);
  --dark-high-contrast-muted: var(--light-low-contrast-neutral);

  /* Denotive Colors */
  --warning: #e82b2b;
  --success: #2be869;
  --light-disabled: #a7a7a7;
  --dark-disabled: #646464;

  /* Interactive Colors */
  --primary-minus2: #da1f31;
  --primary-minus1: #ca1f31;
  --primary: #ba1f31;
  --primary-plus1: #aa1f31;
  --primary-plus2: #9a1f31;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "page"
    "footer";
  grid-template-rows: calc(100vh - 2rem) 2rem;
  background: var(--light-background);
  min-width: 280px;
  min-height: 100vh;
}

.App header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 3rem;
  background: var(--dark-background);
  box-shadow: 0 8px 16px 4px var(--light-high-contrast-muted);
}

.App-footer {
  display: flex;
  grid-area: "footer";
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: center;
  align-self: baseline;
  background: var(--dark-background);
  color: beige;
  box-shadow: 0 -1px 16px 4px var(--light-high-contrast-muted);
}

.App-footer--content {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: var(--dark-high-contrast-muted);
}

.App-page {
  display: grid;
  grid-area: "page";
  grid-template-areas:
    "title"
    "content";
  grid-template-rows: auto auto;
  box-sizing: border-box;
  width: 100vw;
  min-width: 280px;
  min-height: calc(100vh - 5rem);
  margin-top: 3rem;
  padding-bottom: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.App-page--header {
  display: flex;
  grid-area: title;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  height: auto;
  color: var(--dark-background);
  align-items: center;
  justify-content: center;
}

.App-page--title {
  display: flex;
  box-sizing: border-box;
  font-size: 2rem;
  width: 50%;
  min-width: 280px;
  justify-content: center;
}

.navbar__container {
  display: flex;
  box-sizing: border-box;
  height: 3rem;
  width: 100%;
  color: var(--light-background);
  margin: 0;
  padding: 0;
}

.navbar__links {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style: none;
}

.navbar__btn {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33%;
  margin: 0 1rem;
  padding: 4px 12px;
  text-decoration: none;
  color: var(--light-background);
}

.navbar__btn:hover {
  background: var(--primary);
}

.navbar__btn--active {
  background: var(--primary-plus2);
}

.navbar__user-btn {
  display: flex;
  box-sizing: border-box;
  margin: 4px 3rem 4px auto;
  padding: 4px 12px;
  align-items: center;
  justify-content: center;
  color: var(--dark-background);
  background: var(--primary);
  border: none;
}

.navbar__user-btn:hover {
  background-color: var(--primary-minus2);
}

.articles__container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  justify-content: center;
  grid-area: content;
  grid-row: 2;
}

.articles__list {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 280px;
  justify-self: center;
}

.articles__article {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-height: 280px;
  margin: 1rem 0;
  padding: 0;
  border: 1px solid var(--dark-background);
  box-shadow: 0 -1px 16px 4px var(--light-high-contrast-muted);
  background: var(--light-low-contrast-neutral);
  color: var(--dark-background);
}

.articles__article-header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--dark-background);
  background: var(--primary);
  color: var(--light-background);
}

.articles__article-header--topic {
  display: flex;
  margin: 0;
  padding: 4px 12px;
  font-size: 1rem;
  align-items: center;
}

.articles__article-title {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 4px 12px;
  text-decoration: none;
  color: var(--dark-background);
  height: 100%;
  width: 100%;
}

.articles__article-header--created {
  margin: 0;
  padding: 4px 12px;
  font-size: 0.7rem;
}

.articles__article-footer {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  padding: 4px 12px;
  margin: auto 0 0 0;
  border-top: 1px solid var(--dark-background);
  background: var(--light-low-contrast-neutral);
}

.articles__article-footer--counter {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.articles__article-footer--author {
  margin: 0;
  padding: 0;
  font: 1rem;
  color: var(--light-high-contrast-muted);
}

.articles__filter-btn-box {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  justify-self: center;
  align-items: center;
}

.articles__filter-btn {
  display: flex;
  box-sizing: border-box;
  margin: 0 12px 0 12px;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  color: var(--light-background);
  border: none;
}

.articles__filter-btn:hover {
  background: var(--primary-minus2);
}

.articles__filter-btn:active {
  background: var(--primary-plus2);
}

.articles__filter-btn > * {
  pointer-events: none;
}

.articles__filter-btn--icon {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.article__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.article__page-header {
  display: flex;
  box-sizing: border-box;
  width: 90%;
  margin: 1rem 0;
  padding: 0;
}

.article__article-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.article__article-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 90%;
  min-height: 280px;
  margin: 1rem auto;
  padding: 0;
  border: 1px solid var(--dark-background);
  box-shadow: 0 -1px 16px 4px var(--light-high-contrast-muted);
  background: var(--light-low-contrast-neutral);
  align-self: flex-start;
}

.article__article-body {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 4px 12px;
}

.article__comments--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 25%;
  min-width: 280px;
  margin: 0 auto;
  border: 1px solid var(--dark-background);
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  box-shadow: 0 -1px 16px 4px var(--light-high-contrast-muted);
}

.article__comments--post {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}

.article__comments-input-box {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: left;
}

.article__comments-input {
  width: 85%;
  height: 2rem;
  background: var(--light-low-contrast-neutral);
  color: var(--dark-background);
  border: none;
}

.article__comments-input--invalid {
  border: 1px solid var(--warning);
}

.article__comments-input-btn {
  width: 15%;
  background: var(--primary);
  color: var(--light-background);
  border: none;
}

.article__comment {
  box-sizing: border-box;
  margin: 1rem 0 1rem 0;
  padding: 0;
  border: 1px solid var(--dark-background);
  background: var(--light-low-contrast-neutral);
}

.vote__container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.vote__btn-box {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.vote__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.error__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.error__content {
  display: flex;
  flex-direction: column;
  width: 75vw;
  justify-content: center;
  align-items: center;
}

.error__img {
  display: flex;
  width: 50vw;
  height: 60vh;
  background: url("./components/errors/404.jpg");
  background-size: cover;
}

.loader__container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.topics__wrapper {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.topics__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 25vw;
  min-width: 280px;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.topics__topic-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 280px;
  justify-self: center;
}

.topics__topic-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  margin: 1rem 0 1rem 0;
  padding: 0;
  border: 1px solid var(--dark-background);
  box-shadow: 0 -1px 16px 4px var(--light-high-contrast-muted);
  background: var(--light-low-contrast-neutral);
}

.topics__title {
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--dark-background);
  padding: 4px 12px;
  margin: 0;
  border-bottom: 1px solid var(--dark-background);
  background: var(--primary);
  color: var(--light-background);
}

.topics__title:hover {
  background: var(--primary-minus2);
}

.topics__summary {
  display: flex;
  box-sizing: border-box;
  height: 4rem;
  justify-content: left;
  padding: 4px 12px;
  margin: 0;
  width: 100%;
  min-width: 280px;
}

.topics__articles {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50vw;
  min-width: 280px;
  justify-content: space-between;
}

.divider {
  color: var(--light-low-contrast-neutral);
  width: 100%;
  margin: 1rem;
}

@media screen and (min-width: 1365px) {
  .articles__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75vw;
  }

  .articles__article {
    max-width: 480px;
    margin: 1rem;
  }

  .article__article-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
  }

  .article__article-content {
    width: 50%;
    margin-top: 0;
  }

  .topics__articles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .topics__articles .articles__filter-btn-box {
    justify-content: center;
  }
}

@media screen and (min-width: 560px) {
  .divider {
    display: none;
  }
}
