.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "header"
    "page"
    "footer";
}

.App header {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 3rem;
  background: black;
  box-shadow: 0 8px 16px 4px grey;
  grid-area: "header";
}

.App-footer {
  display: flex;
  grid-area: "footer";
  width: 100vw;
  height: 2rem;
  align-items: center;
  justify-content: center;
  align-self: baseline;
  background: black;
  color: beige;
  box-shadow: 0 -1px 16px 4px grey;
}

.App-footer--content {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.5vmin;
}

.App-page {
  display: flex;
  width: 100vw;
  min-height: calc(100vh - 5rem);
  margin-top: 3rem;
}

.navbar__container {
  display: flex;
  box-sizing: border-box;
  height: 3rem;
  width: 100%;
  color: beige;
  margin: 0;
  padding: 0;
}

.navbar__links {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 3rem;
  list-style: none;
}

.navbar__btn {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33%;
  margin: 0;
  padding: 4px 12px 4px 12px;
  text-decoration: none;
  color: beige;
}

.navbar__btn:hover {
  color: black;
  background: chartreuse;
}

.navbar__user-btn {
  display: flex;
  box-sizing: border-box;
  margin: 4px 3rem 4px auto;
  padding: 4px 12px 4px 12px;
  align-items: center;
  justify-content: center;
}

.articles__container {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
  justify-content: center;
}

.articles__list {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 280px;
  justify-self: center;
}

.articles__article {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 1rem 0 1rem 0;
  padding: 4px 12px 4px 12px;
  border: 1px solid black;
  box-shadow: 0 -1px 16px 4px grey;
}

.articles__article-header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px 4px 12px;
  margin: 0;
  border-bottom: 1px solid black;
}

.articles__article-header--topic {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  align-self: start;
}

.articles__article-title {
  display: flex;
  justify-content: left;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.articles__article-header--created {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.articles__article-footer {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  padding: 4px 12px 4px 12px;
  margin: 0;
  border-top: 1px solid black;
}

.articles__article-footer--counter {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.articles__filter-btn-box {
  display: flex;
  box-sizing: border-box;
  width: 50vw;
  height: 2rem;
  justify-self: center;
  align-items: center;
}

.articles__filter-btn {
  display: flex;
  box-sizing: border-box;
  margin: 0 12px 0 12px;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.articles__filter-btn > * {
  pointer-events: none;
}

.articles__filter-btn--icon {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.article__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.article__page-header {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 5rem;
  justify-content: left;
  padding: 4px 12px 4px 12px;
}

.article__article-wrapper {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.article__article-content {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: fit-content;
  min-width: 280px;
  border: 1px solid black;
  justify-content: space-between;
  align-content: space-between;
  padding: 4px 12px 4px 12px;
  box-shadow: 0 -1px 16px 4px grey;
}

.article__article-body {
}

.article__comments--wrapper {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: 280px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  padding: 4px 12px 4px 12px;
}

.article__comments--post {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.article__comments-input-box {
  display: flex;
  width: 100%;
  justify-content: left;
}

.article__comments-input {
  width: 90%;
  height: 2rem;
}

.article__comments-input-btn {
  width: 10%;
}

.article__comment {
  box-sizing: border-box;
  margin: 1rem 0 1rem 0;
  padding: 4px 12px 4px 12px;
  border: 1px solid black;
  box-shadow: 0 -1px 16px 4px grey;
}

.vote__container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.vote__btn-box {
  display: flex;
  box-sizing: border-box;
}

.vote__icon {
  width: 1.5rem;
  height: 1.5rem;
}
