.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "header"
    "page"
    "footer";
}

.App header {
  display: flex;
  width: 100vw;
  height: 3rem;
  background: black;
  box-shadow: 0 8px 16px 4px grey;
  grid-area: "header";
}

.App-footer {
  display: flex;
  grid-area: "footer";
  width: 100vw;
  height: 2rem;
  align-items: center;
  justify-content: center;
  align-self: baseline;
  background: black;
  color: beige;
  box-shadow: 0 -1px 16px 4px grey;
}

.App-footer--content {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.5vmin;
}

.App-page {
  display: flex;
  width: 100vw;
}

.Navbar__container {
  display: flex;
  box-sizing: border-box;
  height: 3rem;
  width: 100%;
  color: beige;
  margin: 0;
  padding: 0;
}

.Navbar__links {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 3rem;
  list-style: none;
}

.Navbar__btn {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33%;
  margin: 0;
  padding: 4px 12px 4px 12px;
}

.Navbar__btn:hover {
  color: black;
  background: chartreuse;
}

.Navbar__user-btn {
  display: flex;
  box-sizing: border-box;
  margin: 4px 3rem 4px auto;
  padding: 4px 12px 4px 12px;
  align-items: center;
  justify-content: center;
}

.Articles__list {
  display: flex;
  flex-direction: column;
}

.Articles__article {
  display: flex;
  box-sizing: border-box;
}

.Articles__article-header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 4px 12px 4px 12px;
}

.Articles__article-header--title {
  font-size: 1.7vmin;
}
